Thumbs.db
.DS_Store
/logs/
/reports/
/.allure/
/.gauge/
/.gradle/
/build/
/out/
!/.idea/compiler.xml
!/.idea/gradle.xml
!/.idea/jarRepositories.xml
!/.idea/misc.xml
!/.idea/vcs.xml
!/.idea/codeStyles
/.idea/
/gauge_bin/
/bin/
flash.properties
/debug.log/
debug.log